@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  --primary-color: #0077b6;
  --second-color: #48cae4;
  --third-color: #caf0f861;
  --fourth-color: #ffe564;
  --bs-border: #333;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  height: 100vh;
}

header {
  /* text-align: center; */
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.header__left{
  display: flex;
  text-align: left;
  margin: 5px;
}

.header__left #header__left-heading {
  color: var(--primary-color);
  font-size: 3rem;
  margin-left: 10px;
}

#iptGraph{
  margin: 10px;
}

#iptGraph h4{
  height: 35px;
  min-height: 35px;
  margin: 10px 0 0 5px;
}

#graphInput {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  border: 1px solid var(--bs-border);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#cy {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 7px;
}

#graphInfo input {
  width: 50px;
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid var(--bs-border);
  border-radius: 4px;
}

#nodeCountInput, #edgeCountInput {
  appearance: textfield;
}

.graphInfor > div{
  margin: 5px 5px;
}

.row{
  flex-wrap: nowrap;
  align-items: stretch;
}
.container{
  max-width: 98%;
}
.mid-col{
  background-color: var(--fourth-color);
}

.right-col__content{
  background-color: white;
}

.nodeCount label, .edgeCount label{
  font-weight: 500;
}

.left-col, .right-col {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  /* height: 100%; */
  overflow: hidden;
  background-color: var(--third-color);
}

.left-col, .mid-col, .right-col{
  flex-direction: column;
  padding: 10px 10px;
  border: 1px solid var(--bs-border);
  border-radius: 7px;
  margin: 0px 5px;
}

.left-col{
  align-items: flex-start;
}
.btn-func, .btn-browse{
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  transition: 0.2s ease-out;
  margin: 5px 5px;
}
.btn-browse{
  width: 100%;
  margin: 2px 0px;
}
.btn-func:hover, .btn-browse:hover{
  background-color: var(--second-color);
  color: black;
  box-shadow: 0px 0px 15px var(--second-color) ;
}

.right-col__content{
  width: 100%;
  height: 100%;
  position: relative;
  
}
.form-control, .form-select{
  transition: 0.2s ease-in-out;
  width: max-content;
}
.form-select:focus, .form-control:focus{
  box-shadow: none;
  outline: none;
  border: 1px solid var(--primary-color);
  
}


textarea#graphInput{
  transition: 0.2s ease-in-out;
  height: 378px;
}

textarea#graphInput:focus {
  border:1px solid var(--primary-color); /* Sử dụng biến màu primary nếu có */
  outline: none; /* Loại bỏ viền mặc định */
}

.form-floating > .form-select {
	padding-top: 1.625rem;
	padding-bottom: .625rem;
	width: 100%;
	margin-top: 5px;
}

.fakeLang{
  max-width: 100%;
  width: calc(100% - 20px);
  height: 300px;
  border: 2px solid #333;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 5px;
  box-sizing: border-box;
}

.selectAlg label, .selectGraph label{
  font-weight: 600;
  font-size: 1.1rem;
  left: 10px;
  color: #333;
}

.selectAlg .form-select, .selectGraph .form-select {
  width: 100%;
  font-size: 1.15rem;
}

.selectGraph .form-select option{
  position: relative;
}
.result-box{
  width: 100%;
  height: 100%;
  min-height: 30px;
  border: 2px solid #333;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  margin: 0;
}
@media screen and (max-width: 955px) {
  .all-content{
    flex-direction: column;
  }
}